= simple_form_for(@business, html: {class: 'form-horizontal'}) do |f|
  = f.collection_select :category_id, Category.all, :id, :name,{prompt: 'Choose a Category'}
  =f.input :company, label: "Company Name"
  =f.input :description, label: "Company Description"
  =f.input :url, label: 'Website'
  %br/
  =f.button  :submit
